/* Grid */
.grid-outer.paged {
    border: 1px solid #CCC;
    font-family: "Segoe UI", Arial;
    padding: 0;
}

.grid-wrap-header {
    background: #EEE;
    color: #666;
    padding: 6px 5px;
}

.grid-wrap {
    padding: 6px 0 0 0;
    position: relative;
}

.grid-empty-text { color: #666; }

/* Grid headers */

table.grid-table {
    border: none;
    border-collapse: collapse;
    width: 100%;
}

table.grid-table th {
    background: none;
    border: none;
    font-size: 0.83em;
    font-weight: bold;
    padding: 5px;
    text-align: left;
    text-transform: uppercase;
}

table.grid-table th a { color: black; }

table.grid-table th a:hover { text-decoration: underline; }

table.grid-table .grid-header.sorted-asc .grid-sort-arrow:after { content: " \2193"; }

table.grid-table .grid-header.sorted-desc .grid-sort-arrow:after { content: " \2191"; }

/* Grid body */

table.grid-table tr.grid-row { }

table.grid-table tr.grid-row-selected td {
    background: #1BA1E2!important;
    color: white;
}

table.grid-table tr.grid-row-selected a { color: white; }

table.grid-table tr:hover td { background: #caecfd; }

table.grid-table tr td {
    border: none;
    padding: 6px 5px;
}

table.grid-table .grid-header-sorted { }

/* Grid pager */

.grid-pager {
    background: #EEE;
    color: #666;
    font-family: "Segoe UI", Arial;
    padding: 6px 5px;
}

.grid-pager a.pager-link, .grid-pager span.pager-text {
    color: inherit;
    padding: 0 5px 0 0;
}

.grid-pager a.pager-link:hover { text-decoration: underline; }