<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://gridmvc.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>waws-prod-db3-001.publish.azurewebsites.windows.net:443</MSDeployServiceURL>
    <DeployIisAppPath>gridmvc</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$gridmvc</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="GridMvc.Sample.Models.NorthwindDbContext" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:gcd041t6bb.database.windows.net,1433;Initial Catalog=gridmvc;User ID=skyliver@gcd041t6bb;Password=D,e[fhby2009" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="GridMvc.Sample.Models.NorthwindDbContext, GridMvc.Sample" Origin="" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="ApplicationServices" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:gcd041t6bb.database.windows.net,1433;Initial Catalog=gridmvc;User ID=skyliver@gcd041t6bb;Password=D,e[fhby2009" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|NORTHWND.MDF;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\ApplicationServices_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=(LocalDB)\v11.0; Integrated Security=True; MultipleActiveResultSets=True;AttachDBFilename=|DataDirectory|NORTHWND.MDF;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ApplicationServices-Web.config Connection String">
      <ParameterValue>data source=tcp:gcd041t6bb.database.windows.net,1433;initial catalog=gridmvc;user id=skyliver@gcd041t6bb;password=D,e[fhby2009;MultipleActiveResultSets=True</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)GridMvc.Sample.Models.NorthwindDbContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:gcd041t6bb.database.windows.net,1433;Initial Catalog=gridmvc;User ID=skyliver@gcd041t6bb;Password=D,e[fhby2009</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="GridMvc.Sample.Models.NorthwindDbContext" />
  </ItemGroup>
</Project>