@using GridMvc.Html
@using GridMvc.Sample.Models
@using GridMvc.Sorting
@model IEnumerable<Orders>
@{
    ViewBag.Title = "Home Page";
}
<h2>
    Orders administration</h2>
<p>
    This page demonstrates the possibilities of Grid.Mvc. For more documentation, please
    see: <a href="http://gridmvc.codeplex.com/">http://gridmvc.codeplex.com/</a>
</p>
<p>
    <div id="ordersGrid" style="float: left; position: relative; width: 640px;">
        @(Html.Grid<Orders>(columns =>
                                 {
                                     /* Adding "OrderID" column: */
                                     columns.Add(o => o.OrderID).Titled("Number").Width(110).Sortable(true).Filterable(true);
                                     /* Adding "OrderDate" column: */
                                     columns.Add(o => o.OrderDate).Titled("Date").Sortable(true)
                                         .SortInitialDirection(GridSortDirection.Descending)
                                         .RenderValueAs(c => c.OrderDate.HasValue ? c.OrderDate.Value.ToShortDateString() : string.Empty)
                                         .Width(120)
                                         .Filterable(true);
                                     /* Adding "CompanyName" column: */
                                     columns.Add(o => o.Customers.CompanyName).Titled("Company Name")
                                         .Sortable(true)
                                         .Filterable(true)
                                         .Width(220)
                                         .ThenSortByDescending(o => o.OrderID)
                                         .SetFilterWidgetType("CustomCompanyNameFilterWidget");
                                     columns.Add(o => o.Customers.IsVip).Titled("Vip customer")
                                         .Sortable(true)
                                         .Filterable(true)
                                         .RenderValueAs(o => o.Customers.IsVip ? "Yes" : "No");

                                 }).WithPaging(20).SetLanguage("en"))
    </div>
    <div id="order-info" style="float: right; width: 280px;">
        <div class="grid-outer paged">
            <div class="grid-wrap-header">
                Order details
            </div>
            <div id="order-content" style="min-height: 500px; padding: 0 5px;">
                <p style="color: #777;">
                    Select order to display detailed infomation</p>
            </div>
        </div>
    </div>
    <script>
        GridMvc.addFilterWidget(new CustomersFilterWidget());

        GridMvc.onRowSelect(function (row) {
            //alert(row.OrderID);
            $.post("/Home/GetOrder?id=" + row.OrderID, function (data) {
                if (data.Status <= 0) {
                    alert(data.Message);
                    return;
                }
                $("#order-content").html(data.Content);
            });
            //window.location.href = "/Order/Item/" + row.OrderID;
        });
    </script>
</p>
<div class="clear">
</div>
