@using GridMvc.Html
@using GridMvc.Sample.Models
@using GridMvc.Sorting
@model IEnumerable<GridMvc.Sample.Models.Orders>
@{
    ViewBag.Title = "Home Page";
}
<h2>
    Orders administration</h2>
<p>
    <div id="ordersGrid" style="float: left; position: relative; width: 640px;">

        @(Html.Grid<Orders>(columns =>
                                 {
                                     /* Adding "OrderID" column: */
                                     columns.Add(o => o.OrderID).Titled("Number").Width(110);
                                     /* Adding "OrderDate" column: */
                                     columns.Add(o => o.OrderDate).Titled("Date").Sortable(true)
                                         .SortInitialDirection(GridSortDirection.Descending)
                                         .RenderValueAs(c => c.OrderDate.HasValue ? c.OrderDate.Value.ToShortDateString() : string.Empty)
                                         .Width(120);
                                     /* Adding "CompanyName" column: */
                                     columns.Add(o => o.Customers.CompanyName).Titled("Company Name")
                                         .Sortable(true)
                                         .Width(220);
                                     /* Adding "LastName" column: */
                                     columns.Add(o => o.Employees.LastName).Titled("Employee")
                                         .RenderValueAs(o => o.Employees.LastName + " " + o.Employees.FirstName)
                                         .Sortable(true)
                                         .ThenSortByDescending(m => m.Customers.CompanyName);
                                 }).WithPaging(20))
    </div>
    <div id="order-info" style="float: right; width: 280px;">
        <div class="grid-outer paged">
            <div class="grid-wrap-header">
                Order details
            </div>
            <div id="order-content" style="min-height: 500px; padding: 0 5px;">
                <p style="color: #777;">
                    Select order to display detailed infomation</p>
            </div>
        </div>
    </div>
    <script>
        $("#ordersGrid").grid().onRowSelect(function(row) {
            //alert(row.OrderID);
            $.post("/Home/GetOrder?id=" + row.OrderID, function(data) {
                if (data.Status <= 0) {
                    alert(data.Message);
                    return;
                }
                $("#order-content").html(data.Content);
            });
            //window.location.href = "/Order/Item/" + row.OrderID;
        });
    </script>
</p>
<div class="clear">
</div>